html {
  scroll-behavior: smooth;
  background-color: rgb(12, 12, 14);
  font-family: 'DM Mono', monospace;
  
}

body{
    background: url(assets/images/backround-image.png);
    padding-top: 3.5rem;
}

p {
  color: rgb(160, 157, 152);
}

h1{
  color: rgb(160, 157, 152);
}

span{
  color: rgb(160, 157, 152);
}

li{
  color: rgb(160, 157, 152);
}
