.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.header-logo {
    width: 150px; 
    display: flex;
    justify-content: flex-end;
}

.header-logo img {
    height: 50px; 
    width: auto;
    display: block;
}

nav {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(18px);
    border-bottom: 1px solid var(--border);
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none; 
    gap: 5rem;
    
}

nav ul a{
    color: rgb(168, 240, 0);
    font-family: 'Inter', sans-serif;
    text-decoration: none
}
nav ul a:hover {
    color: #00375c; 
    transform: translateY(-2px);
}


.about-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 5rem;
    align-items: start;
  }